//
  **********************************************************************************************************************************************************
  TOP BAR CONTENT & NOTIFICATIONS
  ***********************************************************************************************************************************************************
// header start
header.main-header
    // Logo
    a.logo(href='/')
        // mini logo for sidebar mini 50x50 pixels
        span.logo-mini
            b= title.substring(0,1)
            | #{sub.substring(0,2)}
        // logo for regular state and mobile devices
        span.logo-lg
            b= title
            | !{sub}
    // Header Navbar
    nav.navbar.navbar-static-top(role='navigation')
        // Sidebar toggle button
        a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation
        // Navbar Right Menu
        .navbar-custom-menu
            ul.nav.navbar-nav
                // Notifications Menu
                li.dropdown.notifications-menu
                    // Menu toggle button
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        i.fa.fa-bell-o
                        span.label.label-warning 10
                    ul.dropdown-menu
                        li.header You have 10 notifications
                        li
                            // Inner Menu: contains the notifications
                            ul.menu
                                li
                                    // start notification
                                    a(href='#')
                                        i.fa.fa-users.text-aqua
                                        |  5 new members joined today
                                // end notification
                        li.footer
                            a(href='javascript: loadRecord();') View all
                // User Account Menu
                li.dropdown.user.user-menu
                    // Menu Toggle Button
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        // The user image in the navbar
                        img.user-image(src='/dist/img/user2-160x160.jpg', alt='User Image')
                        // hidden-xs hides the username on small devices so only the image appears.
                        span.hidden-xs= username
                    ul.dropdown-menu
                        // The user image in the menu
                        li.user-header
                            img.img-circle(src='/dist/img/user2-160x160.jpg', alt='User Image')
                            p
                                | #{username} - Doctor
                                small Member since Nov. 2012
                        // Menu Footer
                        li.user-footer
                            .pull-left
                                a.btn.btn-default.btn-flat(href='#') Profile
                            .pull-right
                                a.btn.btn-default.btn-flat(href='/logout') Sign out
// header end
